<!DOCTYPE html>
<!-- {% load staticfiles %} -->
<html>
    <head>
        <title>
            Upload image
        </title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>
          var _URL = window.URL || window.webkitURL;
          $(function() {
            if($.fn.cloudinary_fileupload !== undefined) {
              $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
            }
          });

          function isSupportedBrowser() {
              return window.File && window.FileReader && window.FileList && window.Image;
          }

          function getSelectedFile() {
              var fileInput = document.getElementById("filePicker");
              var fileIsSelected = fileInput && fileInput.files && fileInput.files[0];
              if (fileIsSelected)
                  return fileInput.files[0];
              else
                  return false;

          }
          function isGoodImage(file) {
              var deferred = jQuery.Deferred();
              var image = new Image();

              image.onload = function() {
                  // Check if image is bad/invalid
                  if (this.width + this.height === 0) {
                      this.onerror();
                      return;
                  }

                  // Check the image resolution
                  console.log("start");
                  if (this.width == 1024 && this.height == 1024) {
                      deferred.resolve(true);


                  } else {
                      alert("The image resolution is too low.");
                      deferred.resolve(false);
                  }
              };

              image.onerror = function() {
                  alert("Invalid image. Please select an image file.");
                  deferred.resolve(false);
              }

              image.src = _URL.createObjectURL(file);

              return deferred.promise();
          }
          function uploadToCloudinary(file){
            var url = "https://api.cloudinary.com/v1_1/ifyogesh/image/upload";
            var data = new FormData();
            data.append('file', file[0]);
            data.append('upload_preset', 'cwzcrv58');
            var fetchType = {
                headers: {},
                method: 'POST',
                body: data,
                mode: "cors",
            }
          fetch(url, fetchType).then(function(res){
                     return res.json();
                 }).then(function (response) {
                   console.log(response);
                   document.getElementById('url').value=response.url
                   form.submit()  
                 });
          }


        $(document).ready(function () {
          $("#form").submit(function(event) {
              var form = this;

              if (isSupportedBrowser()) {
                  event.preventDefault(); //Stop the submit for now

                  var file = getSelectedFile();
                  if (!file) {
                      alert("Please select an image file.");
                      return;
                  }

                  isGoodImage(file).then(function(isGood) {
                      if (isGood)
                      var fileInput2 = document.getElementById("filePicker");
                      uploadToCloudinary(fileInput2.files);

                  });
              }
          });
        });

        </script>
    </head>

    <body style="margin-top: 30px;margin-left: 30px;">


    <h1> Please First choose the file and then click upload button</h1>
        <form action="{% url 'assignment:index' %}" method="post" enctype="multipart/form-data" id="form" >
            {% csrf_token %}
            <input type="file"
                   title="Upload image"
                   name="image_file"
                   style="border: 1px solid black; padding: 5px;"
                   required="required"
                   id ="filePicker"
                  >
                  <input type="hidden" name="url" id="url" value="" >
            <p>

            <input type="submit"
                   value="Upload"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;" >

        </form>


    </body>
    <!-- <script src="master.js" type="text/javascript" ></script> -->

    <!-- <script type="text/javascript" src="js/script.js"></script> -->
</html>
